:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #f5f5f5;
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translate(-200px, 25px) rotate(-15deg);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0) rotate(0);
    }
}
