:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #dfdcdc;

    @media (prefers-color-scheme: dark) {
        background: #161616;
        color: #dfdcdc;
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translate(-200px, 25px) rotate(-15deg);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
